.alertCard {
  font-family: "Open Sans", sans-serif;
  width: 50%;
  margin: 1rem auto;
  display: inline-block;
  text-align: start;
  flex-direction: column;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 10px 20px;
  word-wrap: break-word;
}

.alertCard a {
  background-color: #fec51b; /* Green */
  border: none;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
}

@media screen and (max-width: 1185px) {
  .alertCard {
    width: 70%;
    margin: 1rem 1rem;
  }
}
