.park-form {
  width: 60%;
  margin: auto;
}

form {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  color: #333;
}

.park-name {
  width: fit-content;
  margin: auto;
  margin-top: 1rem;
  padding-left: 0.3rem;
  border-left: 6px solid #fec51b;
  font-family: "Open Sans", sans-serif;
}

form input {
  margin-left: 0.3rem;
}
.submit-button {
  background-color: #fec51b; /* Green */
  border: none;
  border-radius: 4px;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
}

@media screen and (max-width: 860px) {
  form {
    width: 100%;
    margin: 1rem 1rem 1rem 0;
  }
  .park-form {
    width: 100%;
  }
}
