.App {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #333;
}

.title {
  width: fit-content;
  margin: auto;
  margin-top: 1rem;
  padding-left: 0.3rem;
  border-left: 8px solid #fec51b;
  font-family: "Open Sans", sans-serif;
}
